

#progressDialog{
  position:fixed;
  bottom:0;
  right:10px;
  max-width: 35%;

}
#dblogo{
transition: all .25s ease-in-out;}
#dblogo:hover{
transform: scale(1.1);
}

/*//////////////////////////////////////////////////////////////////
[ Font Settings]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/* Global Environment */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
	outline: none !important;
	border: none;

}

button:hover {
	cursor: pointer;
}

/*[ login page classes ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.containerBackground {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
  width: 900px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 130px 33px 95px !important;
}

/* Container and Size of picture */
 .login100-pic{
 	width: 50%;
 	padding-bottom: 10px;
 	}
  .login100-pic img {
    width: 80%;
  }

  .login100-form {
    width: 290px;
  }

  .login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px;
  }

  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }

  .input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
#tabl{
margin-top:60px;
display:table;}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/* SPAN Symbol */
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.symbol-input100 {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*------------------------------------------------------------------ */

/* Focusing option */
.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

input:focus {
  border-color: transparent !important;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 65%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 12px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 13px;
  top: 50%;
}

.alert-validate:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1000px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/* */
#tableContainer {
	display: none;
  	background: white;
    justify-content: space-between;
    width:80%;
    flex-wrap: wrap;
	border-radius: 10px;
	position: absolute;
	max-height:80%;
	overflow-y:auto;

}

.table.simpleTable{
margin-left:5%;
margin-right:5%;
margin-top:60px;
}
td, th {
  padding: 1px 4px;
}
#navBar{
	width:100%;
	height:15%;
	position:fixed;
	width:77%;
	margin-left:1.5%;
}
.navbar-nav{

}
.navbar-nav{
	width:100%;
	margin-left:2%;
}
.tableContainerBackground {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.navbar-header {
height: 20%;
}
.brandHeader{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.simpleItems{

}

#simpleTableLayout th{
    text-align: left;
    background-color: #4c98af;
    color: black;
    border-radius:2px;
    table-layout:fixed;

}

.table.simpleTable th {
font-size : 16px;
}
/*
#simpleTableLayout {
    border-collapse: collapse;
    font-size : 14px;
      	margin-top: -5px ;
    	margin-left: auto;
    	margin-right : auto;
    	margin-bottom: 13px;
}

#simpleTableLayout td, #simpleTableLayout th {
    border: 3px solid #ddd;
    overflow-x:auto;
    padding : 5px;
    text-align: center;
}#

#simpleTableLayout tr:nth-child(even){background-color: #f2f2f2;}

#simpleTableLayout tr:hover {background-color: #ddd;}
*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index:5;
    display:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#searchInput{
border-radius:7px;
}
#pageInput{
          border-radius:7px;
          }
#inputLi{
float:right;
width:20%;
}
#pageLi{
display:none;
float:right;
width:15%;
}

#searchIcon{

}
.input-group{
padding:8px;
}

table.simpleTable	{
display:none;
}
svg{

margin-top:60px;}

.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#paginationContainer{
visibility:hidden;
}

#task4v1 {
	width: 100%;
	height: 34em;
	display: none;
}