#shenContainer {
	display: none;
	margin-top: 4em;
      position: relative;
      display: block;
      z-index: unset;

}

.userSelection {
	margin-left : 4px;
	padding: 12px 28px;
	font-size: 14px;
	border-radius: 10px;
	background-color: #008CBA;
	cursor:pointer;
	font-weight :bold ;
	display:inline;
}
.userSelection:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#legendText{
	font-size: 12px;

}
/* tooltip */
.shen-tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
	 color: black;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 120px;
  z-index: 20;
}

#dealDoneFont{
		font-size : 28px;
		font-weight : bold;
		margin-left:16px;
		margin-top : 6;
		float : left;
		display : inline;
		  width:100%;
}

.shenLabel{
display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.count {
font-size: 15px;
}

.percent{
font-size: 15px;
}