.task4v2-container .card-body {
	white-space: pre-line;
}

.task4v2-container {
	position: relative;
	display: none;
	width: 100%;
	margin-top: 4em;
}

#task4v2-tooltip {
	position: absolute;
	z-index: 8;
	visibility: hidden;
	background-color: lightblue;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
}

#task4v2-tooltip .text {
	white-space: pre-line;
}

.task4v2-container .sidebar {
	position: fixed;
	z-index: 6;
	/*top: 30px;*/
}

.task4v2-container .table-responsive {
	overflow-y: auto;
	height: 420px;
}